<div class="center padded white-bg">
  <div class="content padded">
    <div class="padded">
      <h1>Algunos de mis proyectos</h1>
      <div class="row">
        <div class="card third">
          <h3>Mailer app</h3>
          <p>Una aplicación para enviar correos usando Sendgrid.</p>
          <a class="purple" target="_blank" href="https://mailer-app-production-6fd9.up.railway.app/" >Link aquí</a>
        </div>
        <div class="card third">
          <h3>Gestor de Clientes</h3>
          <p>Una aplicación para gestionar contactos de clientes.</p>
          <a class="purple" href="{{ url_for('static', filename='libreta-clientes.zip') }}">Link aquí</a>
        </div>
        <div class="card third">
          <h3>Gestor de tareas</h3>
          <p>Una aplicación to-do sencilla.</p>
          <a class="purple" href="#">Link aquí</a>
        </div>
      </div>
    </div>
  </div>
</div>